<?xml version="1.0" encoding="utf-8"?>
<odoo>


    <record model="ir.actions.act_window" id="action_shipping">
        <field name="name">Shipping</field>
        <field name="res_model">shipping.shipping</field>
        <field name="view_type">form</field>
        <field name="view_mode">tree,form</field>
    </record>

    <record model="ir.actions.act_window" id="action_barge">
        <field name="name">Barge</field>
        <field name="res_model">shipping.barge</field>
        <field name="view_type">form</field>
        <field name="view_mode">tree,form</field>
    </record>

    <record model="ir.actions.act_window" id="action_port">
        <field name="name">Port</field>
        <field name="res_model">shipping.port</field>
        <field name="view_type">form</field>
        <field name="view_mode">tree,form</field>
    </record>
    
    <menuitem id="shipping_top" name="Shipping" sequence="4" web_icon="shipping,static/description/icon.png" />
        
        <menuitem name="Shipping"
                id="shipping_shipping"
                parent="shipping_top" 
                action="action_shipping"
                sequence= "1"
                />

        <menuitem name="Barge"
                id="shipping_barge"
                parent="shipping_top" 
                action="action_barge"
                sequence= "2"
                />
        
        <menuitem id="shipping_configuration" name="Configuration" sequence="99" 
                parent="shipping_top"/>

            <menuitem name="Port"
                id="shipping_port"
                parent="shipping_configuration" 
                action="action_port"
                sequence= "2"
                />
</odoo>
